@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=block');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=block');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=block');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=block');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=block');

html {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */ 
}

body {
	background-color: #f7f7f7;
	overflow-x: hidden;
}

.copy {
	display: flex;
	position: absolute;

	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	opacity: 0;

	background-color: #0000008c;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.copy h1 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 25px;
}

.popup {
	position: fixed;

	top: 90vh;
	left: 50vw;

	z-index: 99999;

	width: auto;
	height: auto;
	padding: 5px 15px;
	border-radius: 50px;

	font-size: 18px;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	text-align: center;
	color: #000000;

	background-color: #f7f7f7;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 0px;

	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
}

.blink {
	animation: popup 1s ease-in-out;
}

@keyframes popup {
	0% {
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}

	50% {
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}
}

.loading {
	position: absolute;
	background-color: #f7f7f7;
	z-index: 999;

	width: 100vw;
	height: 100vh;

	/*transition: .2s ease-out;*/
	pointer-events: none
}

.titleContainer {
	position:relative;
	z-index: 9999;
	text-align: center;
}

.title {
	display: inline-block;
	text-align: center;
	margin: 60px 0px 40px 0px;
}

.title:hover {
	cursor: pointer;
}

h1 {
	font-family: 'Abril Fatface';

	display: inline-block;
	font-size: 45px;
}

h2 {
	font-family: 'Abhaya Libre';
	font-weight: 600;

	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
}

.container {
	width: auto;
	max-width: 1200px;
	margin: auto;
	margin-bottom: 20px;
	padding: 0px 15px;

	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

footer {
	background-color: #141414;
	width: 100vw;
	height: 100px;

	font-family: 'Source Sans Pro';
	color: #cfcfcf;
}

footer div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

footer h3 {
	position: relative;
	font-size: 15px;
	text-align: center;
	margin: 6px 0px;
}

footer a {
	color: #cfcfcf;
	text-decoration: underline;
	font-size: 15px;
	margin: 0px 16px;
}

footer a:hover {
	color: #eeeeee;
	cursor: pointer;
}

.backButton {
	display: inline-block;
	cursor: pointer;
	padding-right: 20px;
}

.backButton:hover {
	color: #757575;
}

.back {
	font-family: 'Abhaya Libre';
	flex: 0 1 100%;
}

svg {
	display: inline-block;
	vertical-align: middle;
}

.back h3 {
	font-weight: 600;
	font-size: 20px;

	display: inline-block;
	text-transform: capitalize;
	vertical-align: middle;

	margin-left: 12px;
}

.item {
	position: relative;
	width: calc((100% - 15px * 3) / 4);
	aspect-ratio: 1/1;
	background-color: #E5E5E5;

	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
}

.item:hover {
	cursor: pointer;
	filter: brightness(90%);
}

img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit:contain;
}

.subtitle {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 11%;

	background-color: #000000af;
}

.subtitle h1 {
	font-family: 'Source Sans Pro';
	font-weight: 400;

	display: block;
	position: relative;
	top: 50%;
	
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	transform: translateY(-50%);
}

@media (max-width: 1230px) {
	.subtitle h1 {
		font-size: 1.463vw;
	}
}

@media (max-width: 1000px) {
	.item {
		width: calc((100% - 15px * 2) / 3);
		aspect-ratio: 1/1;
		background-color: #E5E5E5;
		object-fit: cover;
	}

	.subtitle h1 {
		font-size: 1.9vw;
	}

}

@media (max-width: 700px) {
	.item {
		width: calc((100% - 15px * 1) / 2);
		aspect-ratio: 1/1;
		background-color: #E5E5E5;
		object-fit: cover;
	}

	.subtitle h1 {
		font-size: 2.7vw;
	}

	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 15px;
	}

	.title {
		margin: 50px 0px 20px 0px;
	}
}